.jumbotron {
	background-image: url(../Content/img/background3.jpg);
	background-size:cover;
	height:250px;
	background-repeat:no-repeat;
	color:whitesmoke;
}
#featured {
	display:block;
	border-color:black;
}
#searchBox {
	border-color: black;
	border-style: solid;
}

ul, li{
	list-style:none;
}
#featured{
	display:inline-block;
}
#searchCars {
	height:150px;
	width:150px;
}
.col-xs-3 {
	height:172.5px;
	width:183.6px;
}
body {
	background-image: url(../Content/img/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	color:black;
	font-family:'Bookman Old Style';
}
.validation-summary-errors {
	color:red;
	font-weight:bold;
}
#jumbotron {
	color: whitesmoke;
}



