@model TipCalculator.Models.Calculation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tip</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>
					The total amount for your meal is: $@Model.Amount
					The tip percentage you entered is: $@Model.Percentage
					Your total bill plus tip is: $@Model.CalculateTotal();
				</p>
			</div>
		</div>
    </div>
</body>
</html>
