@model CarDealership.UI.Models.HomeVM

@{
	ViewBag.Title = "Guild Cars";
}
<p>
	
</p>
	<div class="jumbotron" id="jumbotron">
		<center><h1>BIG HUGE SALE!!!</h1></center>
		<hr />
	</div>

<br />
<div class="row">
	<div class="col-md-12">
		<center><h2>Featured Vehicles</h2></center>
	</div>
</div>
<div>
	<div id="featured">

	</div>
</div>
