
@{
	ViewBag.Title = "Sales";
}

<h2>Sales</h2>

<br />
<div class="container-fluid">
	<div class="form-inline">
		<div class="form-group">
			<label>Quick Search</label>
			<input type="text" class="form-control" id="quickSearch" />
			<label>Price:</label>
			<select name="minPrice" id="minPrice" class="form-control">
				<option value="0">No Min</option>
				<option value="20000.00">$20,000</option>
				<option value="50000.00">$50,000</option>
				<option value="75000.00">$75,000</option>
				<option value="100000.00">$100,000</option>
			</select>
			<select name="maxPrice" id="maxPrice" class="form-control">
				<option value="2000000.00">No Max</option>
				<option value="20000.00">$20,000</option>
				<option value="50000.00">$50,000</option>
				<option value="75000.00">$75,000</option>
				<option value="100000.00">$100,000</option>
				<option value="150000.00">$150,000</option>
			</select>
			<label>Year:</label>
			<select name="min year" id="minYear" class="form-control">
				<option value="0000">No Min</option>
				<option value="2000">2000</option>
				<option value="2005">2005</option>
				<option value="2010">2010</option>
				<option value="2017">2017</option>
			</select>
			<select name="maxYear" id="maxYear" class="form-control">
				<option value="2018">No Max</option>
				<option value="2000">2000</option>
				<option value="2005">2005</option>
				<option value="2010">2010</option>
				<option value="2018">2018</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary" id="submitButton" onclick="showCars()">Search</button>
	</div>
</div>
<br />
<div id="searchResults">

</div>
@section scripts{
	<script src="~/Scripts/Sales.js"></script>
}
