#searchButton{
margin-left: 200px;
}
#selectOption{
    margin-left: 200px;
}
#searchBox{
    margin-left:100px;
}
body{
    background-image: url("../images/rick james.jpg");
    background-repeat:  none;
    
}